<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="visually-hidden">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="structural-directive"
          >Structural Directive</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="attribute-directive"
          >Attribute Directive</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="one-way-data-binding">OneWayData</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="two-way-data-binding">TwoWayData</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="if-else-elseif">if-else-elseif</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="for-switch">for-switch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pipe">pipe</a>
      </li>
    </ul>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <app-add-employee></app-add-employee>
<app-employee-list></app-employee-list>
<p [class]="bgColor">my name is {{ name }}</p>
<p class="{{ textColor }}">my height is {{ getHeight() }}</p>

<hr class="custom-hr" />

<h3 class="text-center">ONE WAY DATA BINDING</h3>
<app-one-way-data-binding></app-one-way-data-binding>

<hr class="custom-hr" />

<h3 class="text-center">TWO WAY DATA BINDING</h3>
<app-two-day-data-binding></app-two-day-data-binding>

<hr class="custom-hr" />
<app-ngif-directive></app-ngif-directive>

<hr class="custom-hr" />

<app-attri-directive></app-attri-directive>

<hr class="custom-hr" /> -->
