.div-container {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  background-color: brown;
}
