<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand p-4" href="#">AngularCode</a>
    <ul class="navbar-nav navbar-nav-scroll me-auto mt-2 mt-lg-0">
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Mock Test
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="add-list">addList</a></li>
        </ul>
      </li>

      <!-- Apps -->
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Apps
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="counter-app">Counter App</a>
          </li>
        </ul>
      </li>

      <!-- Directives -->
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Directives
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="structural-directive"
              >Structural Directive</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="attribute-directive"
              >Attribute Directive</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="ng-template"
              >Ng-Template Directive</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="ng-container"
              >Ng-Container Directive</a
            >
          </li>
        </ul>
      </li>

      <!-- Data Binding -->
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Data Binding
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="one-way-data-binding"
              >One-Way Binding</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="two-way-data-binding"
              >Two-Way Binding</a
            >
          </li>
        </ul>
      </li>

      <!-- Conditional Rendering -->
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Conditional Rendering
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="if-else-elseif"
              >if-else-elseif</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="for-switch">for-switch</a>
          </li>
        </ul>
      </li>

      <!-- Forms -->
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Forms
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="template-form"
              >Template Form</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="reactive-form"
              >Reactive Form</a
            >
          </li>
        </ul>
      </li>

      <!-- HTTP Methods -->
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Http Methods
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="get-api">Get API</a></li>
          <li>
            <a class="dropdown-item" routerLink="post-api"
              >Post/Put/Delete API</a
            >
          </li>
        </ul>
      </li>

      <!-- Miscellaneous -->
      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Miscellaneous
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="pipe">Pipes</a></li>
          <li>
            <a class="dropdown-item" routerLink="life-cycle">Lifecycle Hooks</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="input-output">Input/Output</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="view-child">View Child</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="signal">Signal</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="observables">Obervables</a>
          </li>
        </ul>
      </li>
    </ul>

    <form class="d-flex g-1">
      <div>
        <select
          class="mt-4"
          [(ngModel)]="selectedRole"
          (ngModelChange)="onRoleChange($event)"
          name="selectedRole"
        >
          <option value="">select role</option>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>
      <button class="btn btn-danger m-3" type="button" (click)="onLogout()">
        Log Out
      </button>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
