<div class="text-white bg-secondary mt-3 rounded p-3"><h3>Ng Template</h3></div>

<div class="row pt-3">
  <div class="col-3">
    <div
      class="bg-primary p-3 text-white"
      *ngIf="isLogginUser; else notLoggedIn"
    >
      {{ userName }}
    </div>
    <ng-template #notLoggedIn>
      <div class="bg-warning p-3">
        <span>User not logged In</span>
      </div>
    </ng-template>
  </div>
  <div class="col-4">
    <ng-template class="bg-warning p-3" #dynamcTeam>
      <span>Hii from dynamic container</span>
    </ng-template>
  </div>
  <div class="col-4">
    <ng-template class="bg-warning p-3" #dynamcContainer> </ng-template>
  </div>
</div>

<div class="row pt-2">
  <div class="col-3 text-center"></div>
  <div class="col-3 text-center"></div>
  <div class="col-3 text-center">
    <button class="btn btn-success" (click)="loadTemplate()">
      Load Content
    </button>
  </div>
</div>
